.taskContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.taskCard {
    max-width: 1312px;
    padding: 24px;
    border-radius: 8px;
    /* justify-content: space-between; */
    align-items: center;
    border: 1px solid #CECECE;
    list-style-type: none;
    display: flex;
    gap: 10px;

}

.checkbox {
    height: 24px;
    appearance: none;
    border: 1px solid #000;
    width: 24px;
    border-radius: 50%;
    outline: none;
}

#checkbox:checked {
    background-image: url("../../assets/images/checkmark.svg");
    background-size: contain;
    background-position: center;
    background-repeat: none;
    border: none;

}

.taskCardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taskCardContents {
    width: 100%;
}

.completedTasksHeading {
display: flex;
justify-content: space-between;
align-items: center;
}

.taskCardSubHeader {
    display: flex;
    gap: 10px;
}

.clearTasksBtn {
    max-width: 205px;
    padding: 10px 20px;
    gap: 8px;
    border-radius: 5px;
    border: 1px solid #0C39C7;
    background-color: white;
    color: #0C39C7;

}

.overdue {
    background: #C035030F;
    color: #C03503;
    display: flex;
    max-width: 130px;


  }
  
  .dueDate {
    display: flex;
    gap: 10px;
  }